.image-large {
 overflow: hidden;
 position: relative;
 z-index: 2;
}

.image-large .image-instance {
 height: 100%;
 background-color: var(--color-thirdary);
 border-radius: 135px 135px 10px 10px;
 position: absolute;
 transform: translate(0%, -50%);
 top: 50%;
 left: 0%;
}

.image-large .image-instance.reverse {
 border-radius: 10px 10px 135px 135px;
}

.image-large .layer.reverse {
 border-radius: 10px 10px 135px 135px;
}

.image-large .layer {
 border-radius: 135px 135px 10px 10px;
 position: absolute;
 left: 50%;
 object-fit: cover;
}

.image-small {
 overflow: hidden;
}

.image-small.top {
 width: 125px;
 height: 165px;
 border-radius: 60px;
}

.image-small.bottom {
 width: 125px;
 height: 165px;
 border-radius: 60px 60px 0 0;
}